<!-- <label for="form-control-1" class="lb-1">Your Comments</label>
<div class="card card-1">
  <div class="card-body">
    <textarea
      class="form-control"
      id="text-area-1"
      rows="1"
      [(ngModel)]="inputTitle"
    ></textarea>
    <br />
    <textarea
      class="form-control"
      id="text-area-1"
      rows="6"
      [(ngModel)]="inputContent"
    ></textarea>
    <hr />
    <button type="button" class="btn btn-danger" (click)="onAddPost()">
      SavePost
    </button>
  </div>
</div> -->
