<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <app-change-value
            [productId]="product.id"
            [stock]="product.stock"
            (onChangeValue)="changeValued($event)"
          ></app-change-value>
        </td>
      </tr>
    </tbody>
  </table>
</div>
