<!-- <div class="accordion" id="acc-1" *ngIf="posts.length > 0">
  <div class="card" *ngFor="let post of posts">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          {{ post.title }}
        </button>
      </h5>
    </div>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#acc-1"
    >
      <div class="card-body">
        {{ post.content }}
      </div>
    </div>
  </div>

  <!-- </div> -->
<!-- </div> -->
<!-- <p class="text-center" *ngIf="posts.length <= 0">No content!!</p>  -->
